@import '../settings.component.scss';

h3 span {
  font-size: 0.75rem;
  color: $dark-green;
  font-weight: 500;
  padding: 5px;
  border: 1px solid $dark-green;
  border-radius: 10px;
  background-color: transparent;
}
