<div class="color" align=center>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                <button class="btn btn-primary" routerLink="/laliga">Matches</button>
            </div>
            <div class="col col-lg-2">
                <button class="btn btn-primary" routerLink="/news/laliga">News</button>
            </div>
            <div class="col col-lg-2">
                <button class="btn btn-primary" routerLink="/standings/laliga">Standings</button>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
  <table class="table">
      <thead>
          <tr>
              <td align="center">Pos.</td>
              <td align="center">Team</td>
              <td align="center">GP</td>
              <td align="center">Won</td>
              <td align="center">Draw</td>
              <td align="center">Lost</td>
              <td align="center">GS</td>
              <td align="center">GA</td>
              <td align="center">GD</td>
              <td align="center">PTS</td>





          </tr>
      </thead>
      <tbody *ngFor="let st of st">
          <td align="center">{{st.position}}.</td>
          <td align="center">
              <ng-container *ngFor="let teams of team">
                  <div *ngIf="teams.team_id==st.team_id" style="margin-top: -10px;"><img
                          [src]="teams.logo" />{{teams.name}} </div>
              </ng-container>
          </td>
          <td align="center">{{st.overall.games_played}}</td>
          <td align="center">{{st.overall.won}}</td>
          <td align="center">{{st.overall.draw}}</td>
          <td align="center">{{st.overall.lost}}</td>
          <td align="center">{{st.overall.goals_scored}}</td>
          <td align="center">{{st.overall.goals_against}}</td>
          <td align="center">{{st.overall.goals_diff}}</td>
          <td align="center">{{st.points}}</td>


      </tbody>
  </table>
</div>






<div class="row">
  <div class="col-sm">
  </div>
  <div class="col-sm">
      <table class="table">
          <thead>
              <tr>
                  <td align="center">Position</td>
                  <td align="center">Name</td>
                  <td align="center">Team</td>
                  <td align="center">Goals</td>
                  <td align="center">Matches</td>

              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let score of top ">
                  <td align="center">{{score.pos}}.</td>
                  <td align="center">{{score.player.player_name}}</td>
                  <td align="center">{{score.team.team_name}}</td>
                  <td align="center">{{score.goals.overall}}</td>
                  <td align="center">{{score.matches_played}}</td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="col-sm">
  </div>
</div>
<app-bootstrap></app-bootstrap>
