@import "../../../styles.scss";

div.main-section {
  width: 100%;
  height: 100%;
}

.alert-container {
  width: 100%;

  .alert.err {
    background-color: $red-000;
    border-top: 1px solid $red-300;
    border-bottom: 1px solid $red-300;
    p { color: $red-400; }
    .x-container::before,
    .x-container::after { background-color: $red-300; }
    .x-container:hover::before,
    .x-container:hover::after { background-color: $red-300; }
  }

  .alert.success {
    background-color: $green-100;
    border-top: 1px solid $green-400;
    border-bottom: 1px solid $green-400;
    p { color: $green-400; }
    .x-container::before,
    .x-container::after { background-color: $green-400; }
    .x-container:hover::before,
    .x-container:hover::after { background-color: $green-400; }
  }

  .alert.notification {
    background-color: $orange-000;
    border-top: 1px solid $orange-300;
    border-bottom: 1px solid $orange-300;
    p { color: $orange-300; }
    .x-container::before,
    .x-container::after { background-color: $orange-300; }
    .x-container:hover::before,
    .x-container:hover::after { background-color: $orange-300; }
  }

  .alert {
    position: relative;
    display: flex;
    padding: 1.1rem;

    p {
      font-weight: 400;
      margin: 0;
    }

    .x-container {
      width: 1rem;
      height: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      right: 10px;
      opacity: .5;
      cursor: pointer;
    }

    .x-container::before {
      content: "";
      width: 3px;
      height: 16px;
      position: absolute;
      border-radius: 4px;
      transform: rotate(-45deg);
      transition: all ease-in-out .1s;
    }

    .x-container::after {
      content: "";
      width: 3px;
      height: 16px;
      position: absolute;
      border-radius: 4px;
      transform: rotate(45deg);
      transition: all ease-in-out .1s;
    }
  }

  .alert:not(:first-child) { margin-top: 0.25rem; }
}

div.main-section-container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto 1fr;
  margin-right: auto;
  margin-left: auto;
  max-width: 1012px;
  padding: 16px;
}

.section-header {
  display: flex;
  grid-row: 1/2;
  grid-column: 1/3;
  padding-bottom: 1.5rem;

  .profile-img, img, .profile-img svg {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  .text {
    display: flex;
    flex-direction: column;

    span, h3 {
      flex: auto;
      padding: 0 8px;
      margin: 0;
      vertical-align: bottom;
    }

    h3 {
      font-size: 20px;
      font-weight: 400;
    }
  }

  .button-container {
    display: flex;
    margin-top: auto;
    button:first-child { margin-right: 1rem; }
  }
}

.side-bar {
  background-color: $gray-100;
  border: 1px solid $gray-300;
  border-radius: 4px;
  margin-bottom: 1rem;

  header {
    padding: 10px 16px;
    font-weight: 600;
    h3 { font-weight: 600; }
  }

  div.page {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    position: relative;
    cursor: pointer;
    transition: all ease-in-out .2s;
    border-top: 1px solid $gray-300;

    .selector {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 0;
      border-left: 3px solid transparent;
    }

    h3 {
      margin: 0;
      padding: 0;
    }
  }
  div.page.active {
    background-color: $gray-200;
    .selector { border-left: 2px solid $pink-500; }
  }

  div.page:hover {
    background-color: $gray-200;
  }

}
.content-section {
  margin-left: 1rem;
}

.btn {
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  padding: 0.4rem 1.25rem;
  cursor: pointer;
  background-color: #e4e4e4;
  transition: all ease-in-out .3s, color 1ms;
  color: rgb(87, 87, 87);
  font-weight: 600;
  width: fit-content;
}

.btn:hover { background-color: #c7c7c7; }

@media screen and (max-width: 900px) {
  .main-section-container {
    display: flex !important;
    flex-direction: column !important;
  }
  .content-section { margin-left: 0; }
}

.full-mode {
  display: flex !important;
  flex-direction: column !important;
}
.full-mode-content { margin-left: 0; }

.settings-content {

  .settings-container {
    display: grid;
    grid-template-columns: 60% 40%;

    .content-container {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .image-container,
    svg {
      grid-column: 2/3;
      display: flex;
      align-items: center;
      justify-self: center;
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
    }

    .image-container {
      padding: 1rem 0;
      position: relative;

      svg { background-color: rgba(0, 0, 0, 0.281); }
    }

    .edit {
      position: absolute;
      bottom: 1.25rem;
      left: 0.5rem;
      padding: 4px 8px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      background-color: $gray-100;
      border: 1px solid rgb(199, 199, 199);
      cursor: pointer;
      transition: all ease-in-out .2s;
      svg {
        background-color: transparent;
        width: 0.8rem;
        height: 0.8rem;
        margin-right: 6px;
      }
      span {
        font-size: 0.8rem;
      }
    }

    .edit:hover { background-color: $gray-200; }

    .input-container {
      display: flex;
      flex-direction: column;
      padding: 0.7rem 5px;

      .label-container {
        margin-bottom: 0.2rem;
        label { font-size: 1rem; }
      }

      input {
        font-size: 0.9rem;
        padding: 5px;
        width: calc(100% - 10px);
        border: 1px solid $gray-300;
        background-color: $gray-100;
        border-radius: 4px;
        color: $gray-700;
      }
      input:focus {
        border: 1px solid $pink-500;
        box-shadow: 0 0 3px $pink-500;
        outline: none;
      }
    }

    .button-container {
      display: flex;
      span {
        font-size: 0.8rem;
        padding: 0 5px;
      }
    }

    .social-container {
      background-color: $gray-100;
      border: 1px solid $gray-200;
      border-radius: 4px;
      margin-bottom: 1rem;
      padding: 10px;

      .provider {
        display: flex;
        align-items: center;
        padding: 8px 10px;

        button:hover {
          border-radius: 6px;
          // color: $white;
          // background-color: $green-500;
        }

        .icon, svg {
          width: 1.75rem;
          height: 1.75rem;
        }
        .icon { margin-right: 1rem; }
        span {
          font-weight: 500;
          color: rgba(0, 0, 0, 0.685);
        }
        .verification {
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            margin-right: 0.6rem;
            font-size: 0.8rem;
            color: $green-700;
          }
          svg {
            width: 1.1rem;
            height: 1.1rem;
          }
        }
      }
    }
  }
}

.btn {
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  padding: 0.25rem 1.25rem;
  cursor: pointer;
  background-color: #e4e4e4;
  transition: all ease-in-out .3s, color 1ms;
  color: rgb(87, 87, 87);
  font-weight: 600;
}
.btn:hover { background-color: #c7c7c7; }
.btn:not(:last-child) {
  margin-right: 1rem;
}



@media screen and (max-width: 650px) {
  .settings-container {
    display: flex !important;
    flex-direction: column !important;
  }
  .image-container { margin: auto; }
}

.mb-2 { margin-bottom: 2rem; }

.description-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.right { margin-left: auto; }

.enable,.disable  {
  padding: 6px 12px;
  border-radius: 6px;
  margin: 0 0 0.25rem 0 !important;
}
.enable {
  color: $white;
  background-color: $green-500;
  border: 1px solid $green-500;
}
.enable:hover {
  background-color: $green-600;
  border-color: $green-600;
}

.disable {
  color: $white;
  background-color: $red-400;
  border: 1px solid $red-400;
}
.disable:hover {
  background-color: $red-500;
  border-color: $red-500;
}

.btn-100.full {
  width: fit-content;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    margin: auto;
  }
}
