<nav class="{{ !isLeaguesOpen ? isMainInputOpen ? 'open' : 'close' : 'leagues' }}">
  <div *ngIf="isLeaguesOpen" class="bottom">
    <div *ngFor="let option of leaguesOptions" (click)="changePage(option.name)" class="option">
      <span>{{option.name}}</span>
      <div class="line {{option.active ? 'active' : ''}}"></div>
    </div>
  </div>
  <div class="left">
    <a *ngIf="!isLeaguesOpen" (click)="openPage('home')" class="logo">
      <span>Football News</span>
    </a>
    <div *ngIf="isLeaguesOpen">
      <div class="league-name">
        <a (click)="openPage('home')">
          <figure>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
              <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z" fill="#444d56"/>
            </svg>
          </figure>
          <span>{{league.toUpperCase().replace('-', ' ')}}</span>
        </a>
        <button (click)="manageFollow($event, league)" class="btn-100 eld">{{ doesUserFollow() }}</button>
      </div>
    </div>
  </div>
  <div *ngIf="!isLeaguesOpen" class="middle {{ isAccountPageOpen ? 'disabled-children' : '' }}">
    <div class="search-container">
      <div id="word-suggest-container" class="word-suggest-container {{ suggestionOpen ? 'active' : '' }}">
        <span *ngFor="let suggestion of suggestionArray" (click)="search(suggestion)">
          {{ suggestion }}
        </span>
      </div>
      <div class="extra-container {{ extraSearchOpen ? 'active' : '' }}">
      </div>
      <input type="text" id="search-input" class="search-input" autocomplete="off">
      <figure class="arrow-icon-container">
        <div (click)="isMainInputOpen = !isMainInputOpen" class="circle">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z" fill="#6a737d"/>
          </svg>
        </div>
      </figure>
      <figure class="search-icon-container">
        <div (click)="search(null)" class="circle">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
            <path d="M23.809 21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365 0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238 6.238 2.354-2.354zm-20.955-11.916c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877c-3.793 0-6.877-3.085-6.877-6.877z" fill="#6a737d"/>
          </svg>
        </div>
      </figure>
      <figure class="option-icon-container">
        <div (click)="extraSearchOpen = !extraSearchOpen" class="circle">
          <div class="extra-option-icon"></div>
        </div>
      </figure>
    </div>
  </div>
  <div class="right">
    <figure *ngIf="!isAccountPageOpen && !isLeaguesOpen" class="search-icon-container responsive">
      <div (click)="isMainInputOpen = !isMainInputOpen" class="circle">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
          <path d="M23.809 21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365 0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238 6.238 2.354-2.354zm-20.955-11.916c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877c-3.793 0-6.877-3.085-6.877-6.877z" fill="#6a737d"/>
        </svg>
      </div>
    </figure>
    <div class="navbar-profile-container">
      <button *ngIf="isLoggedIn" (click)="dropDownOpen = !dropDownOpen"
        mat-fab class="profile container">
        <svg class="profile rounded-full" width="64" height="64" viewBox="-4 -4 32 32" fill="#fff" class="profile rounded-full">
          <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
        </svg>
      </button>
      <div *ngIf="dropDownOpen" class="dropdown-menu">
        <div class="button-container">
          <div *ngIf="!isAccountPageOpen">
            <div (click)="openPage('settings/account'); dropDownOpen = !dropDownOpen" class="button">
              <span>Account</span>
            </div>
            <div (click)="openPage('settings/notification'); dropDownOpen = !dropDownOpen" class="button">
              <span>Notifications</span>
            </div>
            <div (click)="openPage('settings/theme'); dropDownOpen = !dropDownOpen" class="button">
              <span>Themes</span>
            </div>
          </div>
          <div *ngIf="isAccountPageOpen">
            <div (click)="openPage('home'); dropDownOpen = !dropDownOpen" class="button">
              <span>Home page</span>
            </div>
            <div *ngIf="userInfo.admin === '0'" (click)="switchMode(adminMode ? null : 'AdminMode'); dropDownOpen = !dropDownOpen" class="button admin">
              <span>{{adminMode ? 'User mode' : 'Admin mode'}}</span>
            </div>
          </div>
          <div (click)="logout(); dropDownOpen = !dropDownOpen" class="button logout">
            <span>Logout</span>
          </div>
        </div>
      </div>
    </div>
    <button
      *ngIf="!isLoggedIn"
      class="btn-200 eld"
      (click)="openLogin(true)">Login</button>
  </div>
</nav>

