<mat-toolbar>
 <a (click)="openPage('home')">
  <span>Football News</span>
 </a>
 <a class="nav-link" routerLink="/laliga">La liga</a>
 <a class="nav-link" routerLink="/premiere-league" >Premier league</a>
 <div class="spacer"></div>
 <button *ngIf="loggedIn"
    mat-fab class="profile container"
    [matMenuTriggerFor]="profile">
    <svg class="profile rounded-full" width="64" height="64" viewBox="-4 -4 32 32" fill="#fff" class="profile rounded-full">
      <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
    </svg>
 </button>
<mat-menu #profile="matMenu">
  <button mat-menu-item (click)="openPage('settings/account')">Account</button>
  <button mat-menu-item (click)="logout()">Log out</button>
</mat-menu>
 <button
  *ngIf="!loggedIn"
  class="login-btn"
  mat-flat-button
  color="accent"
  (click)="openLogin(true)">Login</button>
</mat-toolbar>
