<div class="settings-content">
  <div class="content-conteiner">
    <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)" color="accent" mat-align-tabs="center" animationDuration="0ms">
      <mat-tab label="Users">
        <section class="content">
          <div class="type-container">
            <div class="double-button-container">
              <div (click)="userOpenTable = true; userOpenJSON = false;" class="{{userOpenTable ? 'active' : ''}}">Table</div>
              <div (click)="userOpenTable = false; userOpenJSON = true;" class="{{userOpenJSON ? 'active' : ''}}">JSON</div>
            </div>
            <div class="spacer"></div>
            <div class="select-container" id="User-more">
              <button (click)="selectOpen = !selectOpen; manageSelect('User-more')" class="select">
                <span id="resend-text">Extra Options</span>
              </button>
              <div class="select-expand">
                <div (click)="userCopy=true; copy()" class="option">{{ userCopy ? 'Copied' : 'Copy JSON' }}</div>
                <div (click)="download('users')" class="option">Download</div>
                <div *ngIf="!userOpenJSON" (click)="update('users', usersArray) "class="option">Update</div>
              </div>
            </div>
          </div>
          <div class="mb-2" *ngIf="userOpenJSON">
            <div class="table-external-container editor">
              <div class="overflow">
                <app-editor></app-editor>
              </div>
            </div>
          </div>
          <div class="mb-2" *ngIf="usersArray.length !== 0 && userOpenTable">
            <div class="table-external-container">
              <div class="overflow" id="overflow">
                <div class="table">
                  <div class="row" *ngFor="let row of usersArray; let first = first; let rowCount = index; trackBy: trackByFn">
                    <div class="cell {{ first ? 'header' : '' }}" *ngFor="let cell of row; let columnCount = index; trackBy: trackByFn">
                        <input type="text"
                          [value]="cell"
                          [readonly]="first || [4, 5, 7, 8, 9].includes(columnCount)? true : false"
                          (input)="editArray('users', $event)"
                          [id]="rowCount+'-'+columnCount">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer">
              <div class="all-numbers Users">
                  <div *ngFor="let page of userPages; let index = index"
                  (click)="changePage($event, index)"
                  class="page-number {{ index === 0 ? 'active' : '' }}">
                    {{ index + 1 }}
                  </div>
              </div>
            </div>
          </div>
        </section>
      </mat-tab>
      <mat-tab label="Teams">
        <section class="content">
          <div class="type-container">
            <div class="double-button-container">
              <div (click)="teamOpenTable = true; teamOpenJSON = false" class="{{teamOpenTable ? 'active' : ''}}">Table</div>
              <div (click)="teamOpenTable = false; teamOpenJSON = true" class="{{teamOpenJSON ? 'active' : ''}}">JSON</div>
            </div>
            <div class="spacer"></div>
            <div class="select-container" id="Team-more">
              <button (click)="selectOpen = !selectOpen; manageSelect('Team-more')" class="select">
                <span id="resend-text">Extra Options</span>
              </button>
              <div class="select-expand">
                <div (click)="teamCopy = true; copy()" class="option">{{ teamCopy ? 'Copied' : 'Copy JSON' }}</div>
                <div (click)="download('teams')" class="option">Download</div>
                <div *ngIf="!userOpenJSON" (click)="update('teams', teamsArray) "class="option">Update</div>
              </div>
            </div>
          </div>
          <div class="mb-2" *ngIf="teamOpenJSON">
            <div class="table-external-container editor">
              <div class="overflow">
                <app-editor></app-editor>
              </div>
            </div>
          </div>
          <div class="mb-2" *ngIf="teamsArray.length !== 0  && teamOpenTable">
            <div class="table-external-container">
              <div class="overflow" id="overflow">
                <div class="table">
                  <div class="row" *ngFor="let row of teamsArray; let first = first; let rowCount = index; trackBy: trackByFn">
                    <div class="cell {{ first ? 'header' : '' }}" *ngFor="let cell of row; let columnCount = index; trackBy: trackByFn">
                        <input type="text"
                          [value]="cell"
                          [readonly]="first ? true : false"
                          (input)="editArray('teams', $event)"
                          [id]="rowCount+'-'+columnCount">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer">
              <div *ngIf="teamPages.length > 15" class="all-numbers Teams">
                <div *ngIf="pageNumMin - 7 >= 0" (click)="pageNumMin = pageNumMin - 7; pageNumMax = pageNumMax - 7" class="page-number">Back</div>
                <div *ngIf="!(pageNumMin <= selectedPage && selectedPage <= pageNumMax) && pageNumMax > selectedPage" class="page-number active">{{ selectedPage }}</div>
                <div *ngIf="!(pageNumMin <= selectedPage && selectedPage <= pageNumMax) && pageNumMax > selectedPage" class="page-number">...</div>
                <div *ngFor="let page of teamPages.slice(pageNumMin, pageNumMax); let index = index"
                    (click)="changePage($event, page)"
                    class="page-number {{ page === selectedPage - 1 ? 'active' : '' }}">
                    {{ page + 1 }}
                </div>
                <div *ngIf="!(pageNumMin <= selectedPage && selectedPage <= pageNumMax) && pageNumMax < selectedPage" class="page-number">...</div>
                <div *ngIf="!(pageNumMin <= selectedPage && selectedPage <= pageNumMax) && pageNumMax < selectedPage" class="page-number active">{{ selectedPage }}</div>
                <div *ngIf="teamPages.length > pageNumMax" (click)="pageNumMin = pageNumMin + 7; pageNumMax = pageNumMax + 7" class="page-number">Next</div>
              </div>
            </div>
          </div>
        </section>
      </mat-tab>
      <mat-tab label="Leagues">
        <section class="content">
          <div class="type-container">
            <div class="double-button-container">
              <div (click)="leagueOpenTable = true; leagueOpenJSON = false;" class="{{leagueOpenTable ? 'active' : ''}}">Table</div>
              <div (click)="leagueOpenTable = false; leagueOpenJSON = true;" class="{{leagueOpenJSON ? 'active' : ''}}">JSON</div>
            </div>
            <div class="spacer"></div>
            <div class="select-container" id="League-more">
              <button (click)="selectOpen = !selectOpen; manageSelect('League-more')" class="select">
                <span id="resend-text">Extra Options</span>
              </button>
              <div class="select-expand">
                <div (click)="leagueCopy = true; copy()" class="option">{{ leagueCopy ? 'Copied' : 'Copy JSON' }}</div>
                <div (click)="download('leagues')" class="option">Download</div>
                <div *ngIf="!userOpenJSON" (click)="update('leagues', leaguesArray) "class="option">Update</div>
              </div>
            </div>
          </div>
          <div class="mb-2" *ngIf="leagueOpenJSON">
            <div class="table-external-container editor">
              <div class="overflow">
                <app-editor></app-editor>
              </div>
            </div>
          </div>
          <div class="mb-2" *ngIf="leaguesArray.length !== 0 && leagueOpenTable">
            <div class="table-external-container">
              <div class="overflow" id="overflow">
                <div class="table">
                  <div class="row" *ngFor="let row of leaguesArray; let first = first; let rowCount = index; trackBy: trackByFn">
                    <div class="cell {{ first ? 'header' : '' }}" *ngFor="let cell of row; let columnCount = index; trackBy: trackByFn">
                        <input type="text"
                          [value]="cell"
                          [readonly]="first ? true : false"
                          (input)="editArray('leagues', $event)"
                          [id]="rowCount+'-'+columnCount">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer">
              <div class="all-numbers Leagues">
                <div *ngFor="let page of leaguePages; let index = index"
                  (click)="changePage($event, index)"
                  class="page-number {{ index === 0 ? 'active' : '' }}">
                  {{ index + 1 }}
                </div>
              </div>
            </div>
          </div>
        </section>
      </mat-tab>
      <mat-tab label="Countries">
        <section class="content">
          <div class="type-container">
            <div class="double-button-container">
              <div (click)="countryOpenTable = true; countryOpenJSON = false;" class="{{countryOpenTable ? 'active' : ''}}">Table</div>
              <div (click)="countryOpenTable = false; countryOpenJSON = true;" class="{{countryOpenJSON ? 'active' : ''}}">JSON</div>
            </div>
            <div class="spacer"></div>
            <div class="select-container" id="Country-more">
              <button (click)="selectOpen = !selectOpen; manageSelect('Country-more')" class="select">
                <span id="resend-text">Extra Options</span>
              </button>
              <div class="select-expand">
                <div (click)="countryCopy = true; copy()" class="option">{{ countryCopy ? 'Copied' : 'Copy JSON' }}</div>
                <div (click)="download('leagues')" class="option">Download</div>
                <div *ngIf="!userOpenJSON" (click)="update('leagues', countriesArray) "class="option">Update</div>
              </div>
            </div>
          </div>
          <div class="mb-2" *ngIf="countryOpenJSON">
            <div class="table-external-container editor">
              <div class="overflow">
                <app-editor></app-editor>
              </div>
            </div>
          </div>
          <div class="mb-2" *ngIf="countriesArray.length !== 0 && countryOpenTable">
            <div class="table-external-container">
              <div class="overflow" id="overflow">
                <div class="table">
                  <div class="row" *ngFor="let row of countriesArray; let first = first; let rowCount = index; trackBy: trackByFn">
                    <div class="cell {{ first ? 'header' : '' }}" *ngFor="let cell of row; let columnCount = index; trackBy: trackByFn">
                        <input type="text"
                          [value]="cell"
                          [readonly]="first ? true : false"
                          (input)="editArray('leagues', $event)"
                          [id]="rowCount+'-'+columnCount">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer">
              <div class="all-numbers Countries">
                <div *ngFor="let page of countryPages; let index = index"
                  (click)="changePage($event, index)"
                  class="page-number {{ index === 0 ? 'active' : '' }}">
                  {{ index + 1 }}
                </div>
              </div>
            </div>
          </div>
        </section>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
