@import '../import/import.component.scss';

.gray {
  background-color: $medium-gray;
  color: #fff;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;


  .btn-container {
    width: 8rem;

    button { width: auto; }
  }

  .btn-container.download {
    display: flex;
    justify-content: flex-start;
  }
  .btn-container.update {
    display: flex;
    justify-content: flex-end;
  }

  .all-numbers {
    border: 1px solid $medium-gray;
    border-radius: 4px;
    display: flex;

    .page-number {
      padding: 8px;
      color: $dark-gray;
      background-color: $light-gray;
      transition: all ease-in-out .24s;
      cursor: pointer;
    }
    .page-number:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    .page-number:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    .page-number:not(:last-child) { border-right: 1px solid $medium-gray; }
    .page-number:hover { background-color: $medium-gray; }
    .page-number.active {
      color: $bg !important;
      background-color: $pink;
    }
  }
}
