<div class="settings-content">
  <div class="content-conteiner">
    <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)" color="accent" mat-align-tabs="center" animationDuration="0ms">
      <mat-tab label="Users">
        <section class="content">
          <div class="type-container">
            <div class="double-button-container">
              <div (click)="userOpenTable = true; userOpenJSON = false;" class="{{userOpenTable ? 'active' : ''}}">Table</div>
              <div (click)="userOpenTable = false; userOpenJSON = true;" class="{{userOpenJSON ? 'active' : ''}}">JSON</div>
            </div>
            <div class="spacer"></div>
            <button *ngIf="userOpenJSON" (click)="userCopy=true; copy()" class="btn-100">
              <span>{{ userCopy ? 'Copied' : 'Copy' }}</span>
            </button>
          </div>
          <div class="mb-2" *ngIf="userOpenJSON">
            <app-editor></app-editor>
          </div>
          <div class="mb-2" *ngIf="usersArray.length !== 0 && userOpenTable">
            <div class="table-external-container">
              <div class="overflow" id="overflow">
                <div class="table">
                  <div class="row" *ngFor="let row of usersArray; let first = first; let rowCount = index; trackBy: trackByFn">
                    <div class="cell {{ first ? 'header' : '' }}" *ngFor="let cell of row; let columnCount = index; trackBy: trackByFn">
                        <input type="text"
                          [value]="cell"
                          [readonly]="first || [4, 5, 7, 8, 9].includes(columnCount)? true : false"
                          (input)="editArray('users', $event)"
                          [id]="rowCount+'-'+columnCount">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer">
              <div class="btn-container download">
                <button (click)="download('users')" class="btn-100">Download</button>
              </div>
              <div class="all-numbers Users">
                  <div *ngFor="let page of userPages; let index = index"
                  (click)="changePage($event, index)"
                  class="page-number {{ index === 0 ? 'active' : '' }}">
                    {{ index + 1 }}
                  </div>
              </div>
              <div class="btn-container update">
                <button (click)="update('users', usersArray)" class="btn-200">Update</button>
              </div>
            </div>
          </div>
        </section>
      </mat-tab>
      <mat-tab label="Teams">
        <section class="content">
          <div class="type-container">
            <div class="double-button-container">
              <div (click)="teamOpenTable = true; teamOpenJSON = false;" class="{{teamOpenTable ? 'active' : ''}}">Table</div>
              <div (click)="teamOpenTable = false; teamOpenJSON = true;" class="{{teamOpenJSON ? 'active' : ''}}">JSON</div>
            </div>
            <div class="spacer"></div>
            <button *ngIf="teamOpenJSON" (click)="teamCopy=true; copy()" class="btn-100">
              <span>{{ teamCopy ? 'Copied' : 'Copy' }}</span>
            </button>
          </div>
          <div class="mb-2" *ngIf="teamOpenJSON">
            <app-editor></app-editor>
          </div>
          <div class="mb-2" *ngIf="teamsArray.length !== 0  && teamOpenTable">
            <div class="table-external-container">
              <div class="overflow" id="overflow">
                <div class="table">
                  <div class="row" *ngFor="let row of teamsArray; let first = first; let rowCount = index; trackBy: trackByFn">
                    <div class="cell {{ first ? 'header' : '' }}" *ngFor="let cell of row; let columnCount = index; trackBy: trackByFn">
                        <input type="text"
                          [value]="cell"
                          [readonly]="first ? true : false"
                          (input)="editArray('teams', $event)"
                          [id]="rowCount+'-'+columnCount">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer">
              <div class="btn-container download">
                <button (click)="download('teams')" class="btn-100">Download</button>
              </div>
              <div class="all-numbers Teams">
                <div *ngFor="let page of teamPages; let index = index"
                  (click)="changePage($event, index)"
                  class="page-number {{ index === 0 ? 'active' : '' }}">
                  {{ index + 1 }}
                </div>
              </div>
              <div class="btn-container update">
                <button (click)="update('teams', teamsArray)" class="btn-200">Update</button>
              </div>
            </div>
          </div>
        </section>
      </mat-tab>
      <mat-tab label="Leagues">
        <section class="content">
          <div class="type-container">
            <div class="double-button-container">
              <div (click)="leagueOpenTable = true; leagueOpenJSON = false;" class="{{leagueOpenTable ? 'active' : ''}}">Table</div>
              <div (click)="leagueOpenTable = false; leagueOpenJSON = true;" class="{{leagueOpenJSON ? 'active' : ''}}">JSON</div>
            </div>
            <div class="spacer"></div>
            <button *ngIf="leagueOpenJSON" (click)="leagueCopy=true; copy()" class="btn-100">
              <span>{{ leagueCopy ? 'Copied' : 'Copy' }}</span>
            </button>
          </div>
          <div class="mb-2" *ngIf="leagueOpenJSON">
            <app-editor></app-editor>
          </div>
          <div class="mb-2" *ngIf="leaguesArray.length !== 0 && leagueOpenTable">
            <div class="table-external-container">
              <div class="overflow" id="overflow">
                <div class="table">
                  <div class="row" *ngFor="let row of leaguesArray; let first = first; let rowCount = index; trackBy: trackByFn">
                    <div class="cell {{ first ? 'header' : '' }}" *ngFor="let cell of row; let columnCount = index; trackBy: trackByFn">
                        <input type="text"
                          [value]="cell"
                          [readonly]="first ? true : false"
                          (input)="editArray('leagues', $event)"
                          [id]="rowCount+'-'+columnCount">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer">
              <div class="btn-container download">
                <button (click)="download('leagues')" class="btn-100">Download</button>
              </div>
              <div class="all-numbers Leagues">
                <div *ngFor="let page of leaguePages; let index = index"
                  (click)="changePage($event, index)"
                  class="page-number {{ index === 0 ? 'active' : '' }}">
                  {{ index + 1 }}
                </div>
              </div>
              <div class="btn-container update">
                <button (click)="update('leagues', leaguesArray)" class="btn-200">Update</button>
              </div>
            </div>
          </div>
        </section>
      </mat-tab>
      <mat-tab label="Countries">
        <section class="content">
          <div class="type-container">
            <div class="double-button-container">
              <div (click)="countryOpenTable = true; countryOpenJSON = false;" class="{{countryOpenTable ? 'active' : ''}}">Table</div>
              <div (click)="countryOpenTable = false; countryOpenJSON = true;" class="{{countryOpenJSON ? 'active' : ''}}">JSON</div>
            </div>
            <div class="spacer"></div>
          <button *ngIf="countryOpenJSON" (click)="countryCopy=true; copy()" class="btn-100">
            <span>{{ countryCopy ? 'Copied' : 'Copy' }}</span>
          </button>
          </div>
          <div class="mb-2" *ngIf="countryOpenJSON">
            <app-editor></app-editor>
          </div>
          <div class="mb-2" *ngIf="countriesArray.length !== 0 && countryOpenTable">
            <div class="table-external-container">
              <div class="overflow" id="overflow">
                <div class="table">
                  <div class="row" *ngFor="let row of countriesArray; let first = first; let rowCount = index; trackBy: trackByFn">
                    <div class="cell {{ first ? 'header' : '' }}" *ngFor="let cell of row; let columnCount = index; trackBy: trackByFn">
                        <input type="text"
                          [value]="cell"
                          [readonly]="first ? true : false"
                          (input)="editArray('leagues', $event)"
                          [id]="rowCount+'-'+columnCount">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer">
              <div class="btn-container download">
                <button (click)="download('countries')" class="btn-100">Download</button>
              </div>
              <div class="all-numbers Countries">
                <div *ngFor="let page of countryPages; let index = index"
                  (click)="changePage($event, index)"
                  class="page-number {{ index === 0 ? 'active' : '' }}">
                  {{ index + 1 }}
                </div>
              </div>
              <div class="btn-container update">
                <button (click)="update('countries', countriesArray)" class="btn-200">Update</button>
              </div>
            </div>
          </div>
        </section>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
