@import '../import/import.component.scss';

.gray {
  background-color: $medium-gray;
  color: #fff;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  .btn-container { width: 8rem; }

  .btn-container.download {
    display: flex;
    justify-content: flex-start;
  }
  .btn-container.update {
    display: flex;
    justify-content: flex-end;
  }

  .all-numbers {
    border: 1px solid $medium-gray;
    border-radius: 4px;
    display: flex;

    .page-number {
      padding: 6px 8px;
      color: $gray-700;
      background-color: $gray-100;
      transition: all ease-in-out .24s;
      cursor: pointer;
    }
    .page-number:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    .page-number:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    .page-number:not(:last-child) { border-right: 1px solid $gray-200; }
    .page-number:hover { background-color: $gray-200; }
    .page-number.active {
      color: $bg !important;
      background-color: $pink-500;
    }
  }
}

.type-container {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;

  .btn-100 {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-weight: 400;
      color: $gray-700;
    }
  }

  .double-button-container {
    width: fit-content;
    display: flex;
    align-items: center;
    border: 1px solid $gray-300;
    border-radius: 4px;

    div {
      padding: 0.25rem 1rem;
      cursor: pointer;
      background-color: $gray-000;
      transition: all ease-in-out .3s, color 1ms;
      color: $gray-700;
    }
    div:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-right: 1px solid $gray-300;
    }
    div:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    div:hover { background-color: $gray-200; }
    div.active { background-color: $gray-200; }
  }
}

svg{
  width: 100px;
  height: 100px;
  margin: 20px;
  display:inline-block;
}
