<div *ngIf="season.standings.length > 0">
  <div *ngIf="season.standings[0].matches.played === 0" class="season-alert">
    <span>
      Season will start on {{setupDate(season.start)}}
    </span>
  </div>
</div>
<div class="main-league-container">
  <section>
    <header>
      <h2>Goals</h2>
      <div class="subtitle">
        <span>Player</span>
        <span>Goals</span>
      </div>
    </header>
    <div *ngIf="playersByGoals.length > 0" class="players">
      <div *ngFor="let row of playersByGoals | slice:0:5; let index = index;" (click)="search(row.player.name, row.team.name)" class="player">
        <div class="position">
          <span>{{index+1}}</span>
        </div>
        <div class="data">
          <span class="name">{{row.player.name}}</span>
          <div class="club-container">
            <img src="{{row.team.logo}}" alt="logo" class="logo">
            <span class="club-name">{{row.team.name}}</span>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="number">
          <span>{{row.goals.overall}}</span>
        </div>
      </div>
    </div>
  </section>
  <section>
    <header>
      <h2>Penalty</h2>
      <div class="subtitle">
        <span>Player</span>
        <span>Penalties</span>
      </div>
    </header>
    <div *ngIf="playersByPenalties.length > 0" class="players">
      <div *ngFor="let row of playersByPenalties | slice:0:5; let index = index;" (click)="search(row.player.name, row.team.name)" class="player">
        <div class="position">
          <span>{{index+1}}</span>
        </div>
        <div class="data">
          <span class="name">{{row.player.name}}</span>
          <div class="club-container">
            <img src="{{row.team.logo}}" alt="logo" class="logo">
            <span class="club-name">{{row.team.name}}</span>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="number">
          <span>{{row.penalties}}</span>
        </div>
      </div>
    </div>
  </section>
  <section>
    <header>
      <h2>Play time</h2>
      <div class="subtitle">
        <span>Player</span>
        <span>Minutes played</span>
      </div>
    </header>
    <div *ngIf="playersByMinutes.length > 0" class="players">
      <div *ngFor="let row of playersByMinutes | slice:0:5; let index = index;" (click)="search(row.player.name, row.team.name)" class="player">
        <div class="position">
          <span>{{index+1}}</span>
        </div>
        <div class="data">
          <span class="name">{{row.player.name}}</span>
          <div class="club-container">
            <img src="{{row.team.logo}}" alt="logo" class="logo">
            <span class="club-name">{{row.team.name}}</span>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="number">
          <span>{{row.minutes_played}}</span>
        </div>
      </div>
    </div>
  </section>
</div>
