<div class="settings-content">
  <header>
    <h1>Notifications</h1>
    <hr>
  </header>
  <div class="text-container">
    <p>
      By default, you aren't subscribed to our mailing service.
      If you want to recieve:
    </p>
    <ul class="list">
        <li><p>Up to date football news from top leagues in Europe</p></li>
        <li><p>Team standings from top leagues in Europe</p></li>
        <li><p>Upcoming games with live score</p></li>
    </ul>
    <p>you can subscribe by clicking the "Subscribe" button below.</p>
  </div>
  <div class="mb-2">
    <div>
      <button (click)="subscribed = !subscribed; emailingService()" class="btn {{ !subscribed ? 'disable' : 'enable'  }}">{{ subscribed ? 'Subscribed' : 'Unsubscribed'  }}</button>
    </div>
    <span><strong>Disclamer:</strong> You can unsubscribe from our emailing service everytime you like.</span>
  </div>
  <div class="mb-2">
    <div class="settings-container" *ngIf="userInfo">
      <div class="input-container">
        <div class="label-container">
          <label>This email will recieve all notifications</label>
        </div>
        <input type="email" [value]="userInfo.email" [readonly]="true">
      </div>
    </div>
  </div>
  <header>
    <h1>Following</h1>
    <hr>
  </header>
  <div class="text-container">
    <p> News, standings, games only about leagues or teams you follow will be sent to you. </p>
  </div>

  <div class="mb-2">
    <div class="sub-header">
      <h2>Leagues</h2>
    </div>
    <div *ngFor="let league of allLeagues" class="box">
      <strong>{{ league }}</strong>
      <div class="spacer"></div>
      <button *ngIf="league === 'Laliga' || league === 'Premier League'" (click)="manageFollowLeagues($event, league)" class="btn-100">
        {{ compareLeagues(league, followingLeagues) ? 'Unfollow' : 'Follow' }}
      </button>
      <div *ngIf="league !== 'Laliga' && league !== 'Premier League'" class="tag err">
        <span>Not Supported</span>
      </div>
    </div>
  </div>
  <div class="mb-2 disabled">
    <div class="sub-header">
      <h2 class="under">Teams</h2>
      <div class="tag notification">
        <span>Under construction</span>
      </div>
    </div>
  </div>
<div>
