<div class="main-league-container">
  <header class="main">
    <div class="content select-container" id="league-select-container" (click)="selectOpen = !selectOpen; manageSelect('league-select-container')">
      <span>Season</span>
      <div class="season">
        <span>{{selectedSeason}}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24">
          <path d="M6 0l12 12-12 12z" fill="#ff4081"/>
        </svg>
      </div>
      <div class="select-expand">
        <div *ngFor="let option of seasons" class="option {{ option.active ? 'active' : '' }}"
          (click)="changeOption(option.text, 'league-select-container')">
          <span>{{ option.text }}</span>
        </div>
      </div>
    </div>
  </header>
  <div class="standings">
    <div class="left">
      <header>
        <span>Club</span>
      </header>
      <div class="team-container">
        <div *ngFor="let row of standingsArray;" class="team">
            <div class="status">
              <div class="{{row.result === 'Champions League' ? 'blue' : row.result === 'Europa League' ? 'green' : row.result === 'Relegation' ? 'red' : ''}}"></div>
            </div>
            <div class="position">{{row.position}}</div>
            <div class="team-info">
              <img src="{{row.team.logo}}" alt="logo">
              <span>{{row.team.name}}</span>
            </div>
         </div>
      </div>
    </div>
    <div class="right">
      <div class="scroll">
        <header>
          <div class="stat">
            <span>MP</span>
          </div>
          <div class="stat">
            <span>W</span>
          </div>
          <div class="stat">
            <span>D</span>
          </div>
          <div class="stat">
            <span>L</span>
          </div>
          <div class="stat">
            <span>GF</span>
          </div>
          <div class="stat">
            <span>GA</span>
          </div>
          <div class="stat">
            <span>GD</span>
          </div>
          <div class="stat">
            <span>Pts</span>
          </div>
          <div class="percentage">
            <span>W/D/L %</span>
          </div>
        </header>
        <div *ngFor="let row of standingsArray" class="stats">
          <div class="stat">
            <span>{{row.matches.played}}</span>
           </div>
           <div class="stat">
            <span>{{row.matches.wins}}</span>
           </div>
           <div class="stat">
            <span>{{row.matches.draws}}</span>
           </div>
           <div class="stat">
            <span>{{row.matches.losses}}</span>
           </div>
           <div class="stat">
            <span>{{row.goals.for}}</span>
           </div>
           <div class="stat">
            <span>{{row.goals.against}}</span>
           </div>
           <div class="stat">
            <span>{{row.goals.difference}}</span>
           </div>
           <div class="stat">
            <span>{{row.points}}</span>
          </div>
           <div class="percentage">
             <div class="line" [style]="'background: linear-gradient(90deg, #22863a '+getPercentage(row.matches.played, row.matches.wins)+'%, #ffd33d '+getPercentage(row.matches.played, row.matches.wins)+'% '+(getPercentage(row.matches.played, row.matches.wins)+getPercentage(row.matches.played, row.matches.draws))+'%,#d73a49 '+getPercentage(row.matches.played, row.matches.losses)+'%);'"></div>
           </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <hr>
    <div class="container">
      <h3>Qualification/Relegation</h3>
      <div class="description">
        <div class="row">
          <div class="blue"></div>
          <span>Champions League Group Stage</span>
        </div>
        <div class="row">
          <div class="green"></div>
          <span>Europa League Group Stage</span>
        </div>
        <div class="row">
          <div class="red"></div>
          <span>Relegation</span>
        </div>
      </div>
    </div>
    <div class="container">
      <h3>Wins/Draws/Loses</h3>
      <div class="description">
        <div class="row">
          <div class="green"></div>
          <span>Win</span>
        </div>
        <div class="row">
          <div class="yellow"></div>
          <span>Draw</span>
        </div>
        <div class="row">
          <div class="red"></div>
          <span>Lose</span>
        </div>
      </div>
    </div>
  </footer>
</div>

