<div id="UnderConstruction" class="main-container notification disabled">
  <header>
      <span class="logo">Football News</span>
      <h1>Before you continue to Football News</h1>
  </header>
  <main class="content active" id="c-1">
      <div class="img-container">
        <img src="../../../assets/animations/under-construction.svg" alt="image">
      </div>
      <h2>Work in progress</h2>
      <div class="description">
        <p>This website is still under construction. If you find any bugs, please <a href="https://github.com/NikTopler/FootballNews/issues" target="_blank" class="link">open an issue</a> on my Github repository.</p>
      </div>
  </main>
  <main class="content" id="c-2">
    <div class="img-container">
      <img src="../../../assets/images/cookies.png" alt="image">
    </div>
    <h2>Do you like cookies?</h2>
    <h3 style="padding-bottom: 1rem;">We collect them.</h3>
    <div class="description">
      <p>By clicking "Agree" button you agree with <a target="_blank" href="https://www.termsfeed.com/live/a2149ea4-5c32-4289-b81f-1d24c2c5b654" class="link">Cookie Policy.</a></p>
    </div>
  </main>
  <footer>
      <div class="page-dots">
        <div *ngFor="let page of allPages; let index = index"
          (click)="dotClick($event)"
          class="dot {{ activePage === index ? 'active' : '' }}" id="dot-{{index}}"></div>
      </div>
      <button *ngIf="activePage > 0" (click)="managePages(activePage-1)" class="btn-200">Back</button>
      <div class="spacer"></div>
      <button *ngIf="allPages.length-1 !== activePage" (click)="managePages(activePage+1)" class="btn-200">Next</button>
      <button *ngIf="allPages.length-1 === activePage" (click)="agreeWithCookies()" class="btn-200">Agree</button>
  </footer>
</div>
<div id="AdminMode" class="main-container notification disabled">
  <header>
    <span class="logo">Football News</span>
    <h1>Admin Mode</h1>
  </header>
  <main class="content active" id="a-1">
    <div class="img-container">
      <img src="../../../assets/images/admin.png" alt="image">
    </div>
    <h2>Instructions & Tips</h2>
    <div class="description">
      <p>This feature simulates admins functions to a regular user, from importing, exporting, viewing data to sending custom emails and displaying stats with charts.</p>
    </div>
  </main>
  <main class="content" id="a-2">
    <div class="img-container">
      <img src="../../../assets/images/admin.png" alt="image">
    </div>
    <h2>Instructions & Tips</h2>
    <div class="description">
      <p>Displayed data is not from the database, for safety reasons. This feature is <strong><i>Read Only</i></strong>, that means regular user can not input, change or update any data, he can just view some of it.</p>
    </div>
  </main>
  <footer>
    <button *ngIf="activePage > 0" (click)="managePages(activePage-1)" class="btn-200">Back</button>
    <button *ngIf="activePage === 0" (click)="close()" class="btn-200">Back</button>
    <div class="spacer"></div>
    <button *ngIf="allPages.length-1 !== activePage" (click)="managePages(activePage+1)" class="btn-200">Next</button>
    <button *ngIf="allPages.length-1 === activePage" (click)="agreeWithAdminMode()" class="btn-200" style="width: auto;">Proceed</button>
  </footer>
</div>
