<div class="settings-content">
  <div class="content-conteiner">
    <div class="mb-2">
      <header>
        <h1>Imports in correlation to admin</h1>
      </header>
      <hr>
      <div class="chart-container">
        <canvas class="chart"  baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [colors]="colors"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
    <div class="mb-2">
      <header>
        <h1>Timeline of your imports</h1>
      </header>
      <hr>
      <div class="chart-container">
        <canvas class="chart" baseChart
          [data]="lineChartData"
          [labels]="lineChartLabels"
          [chartType]="lineChartType"
          [options]="lineChartOptions"
          [plugins]="lineChartPlugins"
          [legend]="lineChartLegend">
        </canvas>
      </div>
    </div>
  </div>
