<app-external *ngIf="socialLoginPopup"></app-external>
<div
  *ngIf="socialLoginPopup || popUp"
  class="overlay active"></div>
<div *ngIf="!reload"
  class="main-app-content {{ socialLoginPopup || popUp ? 'hidden' : '' }}">
  <app-navbar></app-navbar>
  <div class="router-content">
    <router-outlet></router-outlet>
  </div>
  <app-footer *ngIf="isLoaded && showFooter"></app-footer>
</div>
<app-download *ngIf="downloadOpen"></app-download>
<mat-progress-bar
  *ngIf="waitForResponse"
  mode="indeterminate"
  color="accent"
  class="progress-bar">
</mat-progress-bar>
<app-popup *ngIf="popUp"></app-popup>
