<app-external *ngIf="socialLoginPopup"></app-external>
<div
  *ngIf="socialLoginPopup"
  class="overlay active"></div>
<mat-progress-bar
  *ngIf="waitForResponse"
  mode="indeterminate"
  color="accent"
  class="progress-bar">
</mat-progress-bar>
<div class="main-content" *ngIf="!reload">
  <app-navbar></app-navbar>
  <div class="router-content">
    <router-outlet></router-outlet>
  </div>
  <app-footer *ngIf="isLoaded && showFooter"></app-footer>
</div>
<app-download *ngIf="downloadOpen"></app-download>
