// LIGHT
  $bg: #fff;
  $bg-nav: #f5f5f5;

  $light-gray: #f5f5f5;
  $medium-gray: #c7c7c7;
  $dark-gray: #575757;
  $transparent-gray: rgba(0, 0, 0, 0.281);

  $hover-light: #e4e4e4;
  $hover-dark: #c7c7c7;


  // Notifications
    //Alert
    $light-red: rgba(255, 0, 0, 0.116);
    $medium-red: rgba(255, 0, 0, 0.609);
    $dark-red: rgba(255, 0, 0, 0.883);

    // Success
    $light-green: #54fa8354;
    $medium-green: #228639bd;
    $dark-green: #22863a;

// DARK
  $bg:#090c10;
  $bg-nav: #161b22;

$pink: #ff4081;
