<div class="main-league-container">
  <div class="player-container">
    <div class="row">
      <div *ngFor="let row of players | slice:0:24" (click)="search(row.player.name, row.team.name)" class="player">
        <img src="{{row.player.image}}" alt="" class="profile">
        <div class="name">
          <span>{{row.player.name}}</span>
        </div>
        <div class="club">
          <img src="{{row.team.logo}}" alt="logo">
          <span>{{row.team.name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
