<div class="main-league-container">
  <div class="player-container">
    <div class="row">
      <div *ngFor="let row of players | slice:0:24; let index = index" class="player">
        <img src="{{playerImages[index]}}" alt="" class="profile">
        <div class="name">
          <span>{{row.player.player_name}}</span>
        </div>
        <div class="club">
          <img src="{{getTeamLogo(row.team.team_id)}}" alt="logo">
          <span>{{row.team.team_name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
