@import '../../../styles.scss';

.latest-news-container {
  width: 100%;
  padding: 4rem 0 1.5rem 0;
  display: flex;
  justify-content: center;

  .outer { position: relative; }

  .content {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: calc(15.75rem * 4 + 2rem * 4);
    overflow: hidden;
  }

  .arrow.left, .arrow.right {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-radius: 50%;
    background-color: $gray-300;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out .2s;
    cursor: pointer;
  }

  .arrow.left:hover, .arrow.right:hover { background-color: $gray-400; }

  .arrow.left {
    left: -3rem;
    svg { transform: rotate(180deg); }
  }
  .arrow.right { right: -3rem; }

  aside {
    position: absolute;
    top: -2rem;
    left: 1rem;
    span {
      font-size: 0.9rem;
      height: auto;
      padding: 4px 8px;
    }
  }

  .news-article {
    display: flex;
    flex-direction: column;
    min-width: 15.75rem;
    height: 5rem;
    padding: 0 1rem;
    cursor: pointer;
    transition: all ease-in-out .3s;
    border-right: 1px solid $gray-300;

    header {
      padding: 0.5rem 0;
      span { font-size: 0.8rem; }
    }
    p { font-weight: 500; }
  }
  .news-article:hover p { text-decoration: underline; }
}

.shadow {
  position: absolute;
  z-index: 500;
  bottom: 0;
  content: " ";
  pointer-events: none;
  top: 0;
  width: 10%;
}
.shadow.right {
  right: 0;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), rgb(255, 255, 255));
}
.shadow.left {
  left: 0;
  background: linear-gradient(-90deg, hsla(0, 0%, 100%, 0), rgb(255, 255, 255));
}

.main-section-container {
  max-width: 1220px;
  grid-template-columns: 1fr 280px;
  grid-template-rows: auto 1fr;
  padding-top: 2rem;

  .main-content {
    grid-row: 2/3;
    grid-column: 1/2;
    padding-right: 1rem;

    .article-container {
      article{
        h2 {
          text-align: center;
          font-weight: 500;
          cursor: pointer;
          transition: all ease-in-out .2s;
        }
        .img-container {
          position: relative;
          height: auto;
          width: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          border-radius: 4px;
          margin-bottom: 1.5rem;
          cursor: pointer;
          img {
            width: 100%;
            max-height: 12rem;
            border-radius: 4px;
            transition: all ease-in-out .5s;
          }
        }
        .img-container:hover img { transform: scale(1.05); }

        .content {
          display: flex;
          flex-direction: column;

          .author { padding: 0.5rem 0; }
          p {
            text-align: center;
          }
        }
      }
      article:hover {
        h2 { text-decoration: underline; }
      }
      article.main {
        min-height: 30rem;
        img { max-height: 24rem !important; }
        .content {
          display: flex;
          align-items: center;
          justify-content: center;
          h2 { width: 85%; }
        }
      }

      .double {
        display: grid;
        grid-template-columns: 1fr 1fr;

        article {
          .img-container { margin-bottom: 0; }
          .content {
            h2, p { text-align: left; }
            p { padding: 1rem 0; }
          }
        }

        article:first-child { margin-right: 0.5rem; }
        article:last-child { margin-left: 0.5rem; }
      }
    }
  }

  .side-bar {
    grid-row: 2/3;
    grid-column: 2/3;
    height: fit-content;
  }
}

.page.gray { pointer-events: none; }

hr {
  width: 100%;
  border: none;
  border-bottom: 2px solid $gray-300;
  margin: 1.5rem 0;
}

@media screen and (max-width: 1250px) {
  .latest-news-container .content {
    width: calc(15.75rem * 3 + 2rem * 3);
  }
}

@media screen and (max-width: 1000px) {
  .latest-news-container {
    .content { width: calc(15.75rem * 2 + 2rem * 2);
      .news-article { max-width: 10.75rem; }
    }
  }
}

@media screen and (max-width: 900px) {
  .main-section-container {
    display: flex;
    flex-direction: column;
    .main-content { padding-right: 0; }
  }
}

@media screen and (max-width: 768px) {
  .latest-news-container { display: none; }
}

@media screen and (max-width: 640px) {
  .main-section-container
  .main-content
  .article-container
  .double {
    display: flex;
    flex-direction: column;
  }
}
