@import '../../../../../styles.scss';

.button-container {
  display: flex;
  align-items: center;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 15rem;
  grid-template-rows: 1fr;

  .left {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .right {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .all-email { padding: 8px; }
}

.select-container:not(:last-child) { margin-right: 0.75rem; }
.select-container.disabled {
  pointer-events: none;
  button { background-color: $gray-300; }
}

.input-area {
  display: flex;
  flex-direction: column;
  width: calc(100% - 0.5rem);
  height: auto;
  padding: 0.5rem 0.25rem;

  .input {
    position: relative;

    .icon, .submit-container {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100% - 2px);
      margin: auto;
      top: 1px;
      bottom: 1px;
      background-color: $gray-300;
    }

    .icon {
      left: 1px;
      width: 2rem;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    .submit-container {
      visibility: hidden;
      right: 2px;
      width: 3rem;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      cursor: pointer;
      transition: all ease-in-out .2s;
      span {
        font-weight: 500;
        color: $white;
        user-select: none;
      }
    }
    .submit-container:hover { background-color: $gray-200; }
  }
  input {
    width: calc(100% - (8px + 2.25rem));
    padding-left: 2.25rem;
  }
  textarea {
    min-height: 1rem;
    max-height: 40rem;
    resize: vertical;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}

.button-container {
  .btn-200 {
    width: 100%;
  }
}

.tag-input {
  height: 1rem;
  max-width: 30rem;
  border: 1px;
  font-size: 0.9rem;
  padding: 5px;
  width: calc(100% - 10px);
  border: 1px solid $gray-300;
  background-color: $gray-200;
  border-radius: 4px;
  color: $gray-700;
  transition: all ease-in-out .2s;

  .recent-emails {
    padding: 9px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .recent-emails:hover {
    background-color: $gray-200;
  }

  .email-container {
    width: fit-content;
    cursor: default;
    padding: 3px 1.5rem 3px 5px;
    border-radius: 12px;
    margin: 0 6px 6px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;

    .icon {
      position: relative;
      .x-container {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: -1.68rem;
        cursor: pointer;
        transition: all ease-in-out .2s;
      }
      .x-container::before {
        opacity: .8;
        content: "";
        width: 2px;
        height: 15px;
        position: absolute;
        border-radius: 3px;
        transform: rotate(-45deg);
        transition: all ease-in-out .2s;
      }
      .x-container::after {
        opacity: .8;
        content: "";
        width: 2px;
        height: 15px;
        position: absolute;
        border-radius: 3px;
        transform: rotate(45deg);
        transition: all ease-in-out .2s;
      }
    }
  }
}

.tag-input.recent {
  width: 100%;
  padding: 0;
}

.tag-input.active {
  height: 15rem;
  overflow: auto;
  background-color: $gray-000;
}

.input input.input-100:focus + .icon { background-color: $pink-200; }

.redTag {
  color: #fdaeb7;
  background-color: #ffeef0;
  span { color: #b31d28; }
  .x-container { background-color: #ffdce0; }
  .x-container::before { background-color: #b31d28; }
  .x-container::after { background-color: #b31d28; }
  .x-container:hover { background-color: #fdaeb7; }
}

.blueTag {
  color: #c8e1ff;
  background-color: #f1f8ff;
  span { color: #044289; }
  .x-container { background-color: #dbedff; }
  .x-container::before { background-color: #044289; }
  .x-container::after { background-color: #044289; }
  .x-container:hover { background-color: #c8e1ff; }
}

.purpleTag {
  color: #d1bcf9;
  background-color: #f5f0ff;
  span { color: #4c2889; }
  .x-container { background-color: #e6dcfd; }
  .x-container::before { background-color: #4c2889; }
  .x-container::after { background-color: #4c2889; }
  .x-container:hover { background-color: #d1bcf9; }
}

.greenTag {
  color: #bef5cb;
  background-color: #f0fff4;
  span { color: #176f2c; }
  .x-container { background-color: #dcffe4; }
  .x-container::before { background-color: #176f2c; }
  .x-container::after { background-color: #176f2c; }
  .x-container:hover { background-color: #bef5cb; }
}

.orangeTag {
  color: #ffd1ac;
  background-color: #fff8f2;
  span { color: #d15704; }
  .x-container { background-color: #ffebda; }
  .x-container::before { background-color: #d15704; }
  .x-container::after { background-color: #d15704; }
  .x-container:hover { background-color: #ffd1ac; }
}

.pinkTag {
  color: #fbaac5;
  background-color: #ffe3ec;
  span { color: #c81954; }
  .x-container { background-color: #fbaac5; }
  .x-container::before { background-color: #c81954; }
  .x-container::after { background-color: #c81954; }
  .x-container:hover { background-color: #fbaac5; }
}

@media screen and (max-width: 550px) {
  .form-container {
    display: flex;
    flex-direction: column;
  }
  .tag-input { max-height: 10rem; }
}

@media screen and (max-width: 750px) {
  #add-email {
    width: calc(100% - (3px + 5.5rem));
    padding-right: 3.25rem;
  }
  .submit-container { visibility: visible !important; }
}
