<div class="body" align=center>

  <div class="content" *ngFor="let novica of news">
      <div class="col-xs-12 col-sm-4">
          <div class="card">
              <a class="img-card" [href]="novica.url">
                  <img [src]="novica.urlToImage" />
              </a>
              <div class="card-content">
                  <h4 class="card-title">
                      {{novica.title}}
                  </h4>
                  <p class="">
                      {{novica.description}}
                  </p>
                  <p class="card-text"><small class="text-muted">{{novica.source.name}}</small></p>
              </div>
              <div class="card-read-more">
                  <a [href]="novica.url" class="btn btn-link btn-block">
                      Read More
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>

<app-bootstrap></app-bootstrap>
