@import '../../variables.scss';

.download-container {
  position: absolute;
  width: 22rem;
  height: auto;
  bottom: 1rem;
  right: 1rem;
  z-index: 9981;

  .content {
    background-color: $light-gray;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 13%),
              0px 6px 10px 0px rgb(0 0 0 / 6%),
              0px 1px 18px 0px rgb(0 0 0 / 7%);

    header {
      height: auto;
      position: relative;
      padding: 1rem;
      background-color: $dark-gray;
      display: flex;
      align-items: center;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;

      .text {
        color: $bg;
        font-weight: 400;
      }

      .icon-container {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0.75rem;
        top: 0;
        bottom: 0;

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          padding: 0.5rem;
          border-radius: 50%;
        }
        .icon.rotate { transform: rotate(180deg); }
        .icon:first-child { margin-right: 1rem; }
      }
    }

    .download {
      display: flex;
      align-items: center;
      border-left: 1px solid $medium-gray;
      border-bottom: 1px solid $medium-gray;
      border-right: 1px solid $medium-gray;
      padding: 0.75rem;

      .text { flex: 1 1 auto; }
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .icon:first-child { padding: 0 1rem 0 0.25rem; }
      .icon:last-child { padding: 0 0.25rem 0 1rem; }
    }
    .download:last-child {
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    .download.closed { display: none; }
  }
}

