<div class="settings-content">
  <header>
    <h3>Import</h3>
    <hr>
  </header>

  <div>
    <input type="file" multiple="false" (change)="test($event)">
  </div>

  <div class="table-external-container" *ngIf="userInfo.safeImport === '1'">
    <div class="overflow" id="overflow">
      <div class="table">
        <div class="row" *ngFor="let row of data; let first = first">
          <div class="cell {{ first ? 'header' : '' }}" *ngFor="let cell of row">
              <input type="text" [value]="cell" [readonly]="first || userInfo.editImport === '0' ? true : false" contenteditable>
          </div>
        </div>
    </div>
  </div>
</div>

