@import '../../settings.component.scss';

.table-external-container {
  overflow-x: auto;
  height: 20rem;
  position: relative;
  margin-bottom: 1rem;

  .overflow {
    display: inline-block;
    height: auto;
    min-height: 2.5rem;
    overflow: auto;
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    border: 1px solid $medium-gray;
    border-radius: 4px;
  }

  .cell.header {
    background-color: $pink-500;
    input {
      cursor: default;
      color: #fff;
    }
    input:focus {
      border: 1px solid transparent;
      box-shadow: none;
      outline: none;
    }
  }

  input {
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    border: none;
    background-color: transparent;
    height: 100%;
    width: auto;
    padding: 7px;
    border: 1px solid transparent;
  }
  input:focus {
    border: 1px solid #ff4081;
    box-shadow: 0 0 3px #ff4081;
    outline: none;
  }

  .row {
    display: table-row;
    height: 2rem;
    margin: auto;
  }

  .row:last-child .cell{ border-bottom: none; }

  .cell {
    vertical-align: middle;
    display: table-cell;
    width: auto;
    text-align: center;
    white-space: nowrap;
  }

  .cell:not(.header){
    border-bottom: 1px solid $medium-gray;
    border-right: 1px solid $medium-gray;
  }
.cell:last-child { border-right: none; }
}

section.content {
  padding: 1rem 0;

  .button-container {
    display: flex;
    margin-bottom: 1rem;
    button.btn-100:last-child { margin-left: 1rem; }
  }
}

.none { display: none; }

.errInput { background-color: $red-100; }
